html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #161922;
  margin:0;
  padding:0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
          user-select: none;
}

#video-player {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -9999;
}

#fullscreen-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 8%;
  animation: rotate 50s infinite ease-in-out, background 50s infinite ease-in-out alternate;
}

@keyframes rotate {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  2% {
    transform: perspective(120px) rotateX(0deg) rotateY(-360deg);
  }
  15% {
    transform: perspective(120px) rotateX(0deg) rotateY(-360deg);
  }
  100% {
    transform: perspective(120px) rotateX(0deg) rotateY(-360deg);
  }
}

.half {
  width: 50%;
  height: 100%;
  background-color: rgba(27, 26, 26,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.half:hover {
  background-color:rgba(27, 26, 26,0.6); 
}
/* Scratchies */

.create {
  width: 70%;
}

/* Sansation */
.textadv {
  font-family: 'Sansation';
  color: white;
  position: fixed;
  bottom: 40px;
  font-size: 28px;
}

.low {
  bottom: 20px;
  font-size: 18px;
  color: #958F8F;
}